<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link href="/css/hoppy2.css" th:href="@{/css/hoppy2.css}" rel="stylesheet">
	<script src="/js/hoppy2.js" th:src="@{/js/hoppy2.js}"></script>
		<title>hoppy2イベント詳細</title>

	</head>
	<body th:onLoad="'Completion(\'' + ${dbregist} + '\');'" >

	<header>
	<div align="right">
		<button type="button" class="btn btn-info mr-3" onclick="location.href='eventlist'">イベント一覧</button>
		<button type="button" class="btn btn-info mr-3" onclick="location.href='eventregist'">イベント登録</button>
		<button type="button" class="btn btn-info mr-3" onclick="location.href='/Hoppy2/logout'">ログアウト</button>
		</div>
	</header>
	<main>
	<h1 class="text-center mb-5 mt-5 title">イベント詳細</h1>


	<div th:each="eventid : ${eventFromId}" th:if="${eventid.empNum} eq ${empInfo.empNum}">
		<form th:each="eventid : ${eventFromId}" th:action="@{/eventditailsupdate}" action="" method="post" id="eventform" name="eventForm" th:object="${eventModel}">
			<div  class="text-center" th:if="${#fields.hasGlobalErrors()}" th:errors="${eventModel}" th:errorclass="err"></div>
			<div class="ditailsbuttons">
				<div th:each="eventid : ${eventFromId}" th:if="${eventid.decisionDay} eq null">
						<button type="submit" class="btn btn-success mr-3 ditailsbutton" onclick="return updateEvent();">変更する</button>
						<span th:if="${canDelete} eq true">
							<button type="submit" class="btn btn-success ditailsbutton" onclick="return deleteEvent();">削除する</button>
						</span>
						<span th:if="${canDelete} neq true">
							<button type="button" class="btn btn-success ditailsbutton" onclick="deleteEvent()" disabled="disabled">削除する</button>
						</span>
				</div>
				<div th:each="eventid : ${eventFromId}" th:if="${eventid.decisionDay} neq null">
						<button type="button" class="btn btn-success mr-3 ditailsbutton" onclick="updateEvent()" disabled="disabled">変更する</button>
							<button type="button" class="btn btn-success ditailsbutton" onclick="deleteEvent()" disabled="disabled">削除する</button>
				</div>

				</div>

			<div class="container">
				<p class=" label" >主催者：<span th:text="${eventid.empName}" th:value="${eventid.empNum}"></span>さん</p>
					<div class="row ">
						<div class="col-sm-4 label ">イベント名</div>
						<div class="col-sm-3 " style="padding: 3px;">
							<div th:if="${eventid.decisionDay} eq null">
							<input type="text" class="form-control input-sm " id="eventname" name="eventName" size="20" th:value="${eventid.eventName}" th:errorclass="err" autofocus>
							</div>
							<div  th:if="${eventid.decisionDay} neq null">
							<input type="text" class="form-control input-sm " id="eventname" name="eventName" size="20" th:value="${eventid.eventName}" th:errorclass="err" autofocus disabled="disabled">
							</div>
							<div th:if="${#fields.hasErrors('eventName')}" th:errors="*{eventName}" th:errorclass="err" ></div>
						</div>

					</div>
					<div class="row ">
						<div class="col-sm-4 label ">カテゴリ</div>
						<div class="col-sm-3 " style="padding: 3px;">
						<div th:if="${eventid.decisionDay} eq null">
							<select class="form-control input-sm " id="category" name="categoryId">
								<option  selected="selected" th:text="${eventid.categoryName}" th:value="${eventid.categoryId}"></option>
								<option th:each="categorylist : ${categoryList}" th:if="${categorylist.categoryName} neq ${eventid.categoryName}" th:value="${categorylist.categoryId}" th:field="*{categoryId}" th:errorclass="err">[[${categorylist.categoryName}]]</option>
							</select>
						</div>
						<div th:if="${eventid.decisionDay} neq null">
							<select class="form-control input-sm " id="category" name="categoryId" disabled="disabled">
								<option  selected="selected" th:text="${eventid.categoryName}" th:value="${eventid.categoryId}" ></option>

							</select>
						</div>
							<div th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}" th:errorclass="err" ></div>
						</div>

					</div>
					<div class="row ">
						<div class="col-sm-4 label">開催場所</div>
						<div class="col-sm-3 " style="padding: 3px;">
							<div th:if="${eventid.decisionDay} eq null">
								<input type="text" class="form-control input-sm " id="place" name="place" size="20" th:value="${eventid.place}" th:errorclass="err">
							</div>
							<div th:if="${eventid.decisionDay} neq null">
								<input type="text" class="form-control input-sm " id="place" name="place" size="20" th:value="${eventid.place}" th:errorclass="err" disabled="disabled">
							</div>
								<div th:if="${#fields.hasErrors('place')}" th:errors="*{place}" th:errorclass="err" ></div>
						</div>
					</div>
					<div class="row ">
						<div class="col-sm-4 label">候補日</div>
						<div class="col-sm-8 form-inline " style="padding: 3px;" >
							<span th:if="${canDelete} eq true">
								<input type="date" class="form-control input-sm " id="startday" name="startDay" size="20"  th:each="voteinfo,candidateday: ${voteinfoList}"
								th:if="${candidateday.first}" th:value="${#dates.format(voteinfo.candidateDay, 'yyyy-MM-dd')}" th:errorclass="err">
								<span class="ml-5 mr-5">から</span>
								<input type="date" class="form-control input-sm " id="endday" name="endDay" size="20" th:each="voteinfo,candidateday: ${voteinfoList}"
								th:if="${candidateday.last}" th:value="${#dates.format(voteinfo.candidateDay, 'yyyy-MM-dd')}" th:errorclass="err">
							</span>
							<span th:if="${canDelete} neq true">
								<input type="date" class="form-control input-sm " id="startday" name="startDay" size="20"  th:each="voteinfo,candidateday: ${voteinfoList}"
								th:if="${candidateday.first}" th:value="${#dates.format(voteinfo.candidateDay, 'yyyy-MM-dd')}"  readonly="readonly">
								<span class="ml-5 mr-5">から</span>
								<input type="date" class="form-control input-sm " id="endday" name="endDay" size="20" th:each="voteinfo,candidateday: ${voteinfoList}"
								th:if="${candidateday.last}" th:value="${#dates.format(voteinfo.candidateDay, 'yyyy-MM-dd')}"  readonly="readonly">
							</span>

						</div>
					</div>
					<div class="row ">
						<div class="col-sm-4 label"></div>
						<div class="col-sm-8 form-inline" style="padding: 3px;">
								<div th:if="${#fields.hasErrors('startDay')}" th:errors="*{startDay}" th:errorclass="err"></div>
								<div th:if="${#fields.hasErrors('endDay')}" th:errors="*{endDay}" th:errorclass="err"></div>
						</div>
					</div>

					<div class="row ">
						<div class="col-sm-4 label">開催日</div>

						<div class="col-sm-8 form-inline " style="padding: 3px;">[[${#dates.format(eventid.decisionDay, 'yyyy/MM/dd')}?: '決まってません']]</div>
					</div>

					<div class="row ">
						<div class="col-sm-4 label">コメント</div>
						<div class="col-sm-8 form-inline" style="padding: 3px;">
							<div th:if="${eventid.decisionDay} eq null">
								<textarea class="form-control input-sm " id="comment" name="hostComment" rows="4" cols="60"  th:text="${eventid.hostComment}" th:value="*{hostComment}" th:errorclass="err"></textarea>
							</div>
							<div th:if="${eventid.decisionDay} neq null">
								<textarea class="form-control input-sm " id="comment" name="hostComment" rows="4" cols="60"  th:text="${eventid.hostComment}" th:value="*{hostComment}" th:errorclass="err" disabled="disabled"></textarea>
							</div>

						</div>
					</div>
					<div class="row ">
						<div class="col-sm-4 label"></div>
						<div class="col-sm-8 form-inline  pb-3" style="padding: 3px;">
								<div th:if="${#fields.hasErrors('hostComment')}" th:errors="*{hostComment}" th:errorclass="err"></div>
						</div>
					</div>
					<input type="hidden" name="eventId" th:value="${eventid.eventId}">
			</div>
		</form>
	</div>

	<div th:each="eventid : ${eventFromId}" th:if="${eventid.empNum} neq ${empInfo.empNum}">
		<form th:each="eventid : ${eventFromId}">
			<div class="container">
				<p class=" label">主催者：<span th:text="${eventid.empName}" th:value="${eventid.empNum}"></span>さん</p>
				<div class="row ">
						<div class="col-sm-4 label">イベント名</div>
						<div class="col-sm-8 form-inline " style="padding: 3px;" th:text="${eventid.eventName}"></div>
					</div>
					<div class="row ">
						<div class="col-sm-4 label">カテゴリ</div>
						<div class="col-sm-8 form-inline " style="padding: 3px;" th:text="${eventid.categoryName}"></div>
					</div>
				<div class="row ">
						<div class="col-sm-4 label">開催場所</div>
						<div class="col-sm-8 form-inline " style="padding: 3px;" th:text="${eventid.place}"></div>
					</div>
					<div class="row ">
						<div class="col-sm-4 label">候補日</div>
						<div class="col-sm-8 form-inline " style="padding: 3px;"  >
						<span th:each="voteinfo,candidateday: ${voteinfoList}" th:if="${candidateday.first}" th:text="${#dates.format(voteinfo.candidateDay, 'yyyy/MM/dd')}"></span>
						<span class="ml-5 mr-5">から</span>
						<span th:each="voteinfo,candidateday: ${voteinfoList}" th:if="${candidateday.last}" th:text="${#dates.format(voteinfo.candidateDay, 'yyyy/MM/dd')}"></span></div>
					</div>
					<div class="row ">
						<div class="col-sm-4 label">開催日</div>
						<div class="col-sm-8 form-inline " style="padding: 3px;">[[${#dates.format(eventid.decisionDay, 'yyyy/MM/dd')}?: '決まってません']]</div>
					</div>
					<div class="row ">
						<div class="col-sm-4 label">コメント</div>
						<div class="col-sm-8 form-inline " style="padding: 3px;" th:text="${eventid.hostComment}"></div>
					</div>

			</div>
		</form>
	</div>


	<table cellspacing="0">
		<tr style="vertical-align:top;">
			<td id="leftframe">
				<h1 class="text-center mb-5 mt-5 title">みんなの投票</h1>
				<div th:each="eventid : ${eventFromId}" th:if="${eventid.empNum} eq ${empInfo.empNum}">
					<form class="sdform" th:action="@{/eventditailsdecide}" action="eventditailsdecide" method="post" id="voteform" name="voteform" th:object="${voteModel}">
						<div class="selectday" th:each="voteinfo : ${voteinfoList}" >
							<label class="point">
								<input type="radio"  name="voteDay" th:value="${voteinfo.candidateDay}" class="mb-5" th:field="*{voteDay}">
								[[${#dates.format(voteinfo.candidateDay, 'yyyy/MM/dd')}]]：　[[${voteinfo.voteEmpName}]]
							<input type="hidden" name="eventId" th:each="eventid : ${eventFromId}" th:value="${eventid.eventId}">
							</label>
						</div>
						<div th:if="${#fields.hasErrors('voteDay')}" th:errors="*{voteDay}" th:errorclass="err" ></div>
							<div th:each="eventid : ${eventFromId}" th:if="${eventid.decisionDay} eq null">
								<button type="submit" class="btn btn-success mb-5 mt-3 " onclick="return voteRegist();">決定する <span class="glyphicon glyphicon-chevron-right"></span></button>
							</div>
							<div th:each="eventid : ${eventFromId}" th:if="${eventid.decisionDay} neq null">
								<button type="button" class="btn btn-success mb-5 mt-3 " onclick="voteRegist()" disabled="disabled">決定する <span class="glyphicon glyphicon-chevron-right" ></span></button>
						</div>
					</form>
				</div>

				<div th:each="eventid : ${eventFromId}" th:if="${eventid.empNum} neq ${empInfo.empNum}">
					<form class="sdform" th:action="@{/voteregist}" action="voteregist" method="post" id="voteform" name="voteform">
						<div class="selectday" th:each="voteinfo : ${voteinfoList}">
							<label class="point">
								<input type="checkbox"  name="voteDay" th:value="${voteinfo.candidateDay}" class="mb-5" th:checked="${voteinfo.check}">
								[[${#dates.format(voteinfo.candidateDay, 'yyyy/MM/dd')}]]：　[[${voteinfo.voteEmpName}]]
								<input type="hidden" name="eventId" th:each="eventid : ${eventFromId}" th:value="${eventid.eventId}">
							</label>
						</div>
						<div th:each="eventid : ${eventFromId}" th:if="${eventid.decisionDay} eq null">
							<button type="submit" class="btn btn-success mb-5 mt-3 " onclick="return newVote();">投票する <span class="glyphicon glyphicon-chevron-right"></span></button>
						</div>
						<div th:each="eventid : ${eventFromId}" th:if="${eventid.decisionDay} neq null">
							<button type="button" class="btn btn-success mb-5 mt-3 " onclick="newVote()" disabled="disabled">投票する <span class="glyphicon glyphicon-chevron-right" ></span></button>
						</div>
					</form>
				</div>
			</td>


			<td id="rightframe">
				<h1 class="text-center mb-5 mt-5 title">コメント</h1>
				<div class="composition" >
					<form th:action="@{/commentregist}" action="/commentregist" method="post" th:object="${commentModel}">
					<textarea class="form-control input-sm " id="comment" rows="4px" name="participantComment" th:text="*{participantComment}" th:errorclass="err"></textarea>
					<div th:if="${#fields.hasErrors('participantComment')}" th:errors="*{participantComment}" th:errorclass="err" ></div>
					<input type="hidden" name="eventId" th:each="eventid : ${eventFromId}" th:value="${eventid.eventId}">
					<button type="submit" class="btn btn-success mb-5 mt-3" >コメントする <span class="glyphicon glyphicon-chevron-right"></span></button>

					</form >
					<div th:each="commentlist : ${commentList}">
						<p>[[${commentlist.empName}]]さん　：　<span>[[${commentlist.participantComment}]]</span></p>
					</div>
				</div>
			</td>
		</tr>
	</table>

</main>
</body>



	<footer class="text-center text-muted py-4">
		<hr>
		hoppy2
	</footer>




		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

	</html>