<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link href="/css/hoppy2.css" rel="stylesheet">
	<script src="/js/hoppy2.js"></script>
		<title>hoppy2イベント詳細</title>

	</head>
	<body>

	<header>
	<div align="right">
		<button type="button" class="btn btn-info mr-3" onclick="location.href='eventlist'">イベント一覧</button>
		<button type="button" class="btn btn-info mr-3" onclick="location.href='eventregist'">イベント登録</button>
		<button type="button" class="btn btn-info mr-3" onclick="location.href='/'">ログアウト</button>
		</div>
	</header>
	<main>
		<h1 class="text-center mb-5 mt-5 title">イベント詳細</h1>
		<form th:each="eventid : ${eventListToId}" action="" method="post" id="eventform" name="eventform" th:object="${eventModel}">
	<div class="ditailsbuttons">
		<div th:each="eventid : ${eventListToId}" th:if="${eventid.decisionDay} eq null">
				<button type="submit" class="btn btn-success mr-3 ditailsbutton" onclick="updateEvent()">変更する</button>
					<button type="submit" class="btn btn-success ditailsbutton" onclick="deleteEvent()">削除する</button>
		</div>
		<div th:each="eventid : ${eventListToId}" th:if="${eventid.decisionDay} neq null">
				<button type="button" class="btn btn-success mr-3 ditailsbutton" onclick="updateEvent()" disabled="disabled">変更する</button>
					<button type="button" class="btn btn-success ditailsbutton" onclick="deleteEvent()" disabled="disabled">削除する</button>
		</div>

		</div>

		<div class="container">
			<p class=" label" >主催者：<span th:text="${eventid.empName}" th:value="${eventid.empNum}"></span> さん</p>
				<div class="row ">
					<div class="col-sm-4 label ">イベント名</div>
					<div class="col-sm-8 form-inline " style="padding: 3px;">
							<input type="text" class="form-control input-sm " id="eventname" name="eventName" size="20" th:value="${eventid.eventName}">
					</div>
					<div th:if="${#fields.hasErrors('eventName')}" th:errors="*{eventName}" th:errorclass="err" ></div>
				</div>
				<div class="row ">
					<div class="col-sm-4 label ">カテゴリ</div>
					<div class="col-sm-8 form-inline " style="padding: 3px;">
							<select class="form-control input-sm " id="category" name="categoryId">
								<option  selected="selected" th:text="${eventid.categoryName}" th:value="${eventid.categoryId}"></option>
								<option th:each="categorylist : ${categoryList}" th:if="${categorylist.categoryName} neq ${eventid.categoryName}" th:value="${categorylist.categoryId}" th:field="*{categoryId}">[[${categorylist.categoryName}]]</option>
					</select>
					</div>
					<div th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}" th:errorclass="err" ></div>
				</div>
				<div class="row ">
					<div class="col-sm-4 label">開催場所</div>
					<div class="col-sm-8 form-inline " style="padding: 3px;">
							<input type="text" class="form-control input-sm " id="place" name="place" size="20" th:value="${eventid.place}">
					</div>
					<div th:if="${#fields.hasErrors('place')}" th:errors="*{place}" th:errorclass="err" ></div>
					
				</div>
				<div class="row ">
					<div class="col-sm-4 label">候補日</div>
					<div class="col-sm-8 form-inline " style="padding: 3px;" >
							<input type="date" class="form-control input-sm " id="startday" name="startDay" size="20"  th:each="voteinfo,candidateday: ${voteinfoList}" 
							th:if="${candidateday.first}" th:value="${#dates.format(voteinfo.key, 'yyyy-MM-dd')}" >
							　　　から　　　
							<input type="date" class="form-control input-sm " id="endday" name="endDay" size="20" th:each="voteinfo,candidateday: ${voteinfoList}" 
							th:if="${candidateday.last}" th:value="${#dates.format(voteinfo.key, 'yyyy-MM-dd')}" >
					</div>
					<div th:if="${#fields.hasErrors('place')}" th:errors="*{startDay}" th:errorclass="err" ></div>
					<div th:if="${#fields.hasErrors('place')}" th:errors="*{endDay}" th:errorclass="err" ></div>
				</div>
				<div class="row ">
					<div class="col-sm-4 label">開催日</div>

					<div class="col-sm-8 form-inline " style="padding: 3px;">[[${#dates.format(eventid.decisionDay, 'yyyy/MM/dd')}?: '決まってません']]</div>
				</div>
				<div class="row ">
					<div class="col-sm-4 label ">コメント</div>
					<div class="col-sm-8  " style="padding: 3px;">
							<textarea class="form-control input-sm " id="comment" name="hostComment" rows="4" cols="60" th:text="${eventid.hostComment}" th:field="*{hostComment}">
							</textarea>
					</div>
					<div th:if="${#fields.hasErrors('hostComment')}" th:errors="*{hostComment}" th:errorclass="err" ></div>
				</div>
				<input type="hidden" name="eventId" th:value="${eventid.eventId}">

		</div>

	</form>


	<table cellspacing="0">
		<tr style="vertical-align:top;">
			<td id="leftframe">
				<h1 class="text-center mb-5 mt-5 title">みんなの投票</h1>
				<form class="sdform" action="eventditailsdecide" method="post" id="voteform" name="voteform" th:object="${voteModel}">
					<div class="selectday" th:each="voteinfo : ${voteinfoList}" >
						<input type="radio" name="voteDay" th:value="${voteinfo.key}" class="mb-5" th:field="*{voteDay}"> [[${#dates.format(voteinfo.key, 'yyyy/MM/dd')}]]
						<span >：　[[${voteinfo.value}]]</span>
						<input type="hidden" name="eventId" th:each="eventid : ${eventListToId}" th:value="${eventid.eventId}">
						</div>
						<div th:if="${#fields.hasErrors('voteDay')}" th:errors="*{voteDay}" th:errorclass="err" ></div>
						<div th:each="eventid : ${eventListToId}" th:if="${eventid.decisionDay} eq null">
							<button type="submit" class="btn btn-success mb-5 mt-3 " onclick="voteRegist()">決定する <span class="glyphicon glyphicon-chevron-right"></span></button>
						</div>
						<div th:each="eventid : ${eventListToId}" th:if="${eventid.decisionDay} neq null">
							<button type="button" class="btn btn-success mb-5 mt-3 " onclick="voteRegist()" disabled="disabled">決定する <span class="glyphicon glyphicon-chevron-right" ></span></button>
						</div>
				</form>


				<form class="sdform" action="voteregist" method="post" id="voteform" name="voteform">
					<div class="selectday" th:each="voteinfo : ${voteinfoList}" >
						<input type="checkbox" name="voteDay" th:value="${voteinfo.key}" class="mb-5"> [[${#dates.format(voteinfo.key, 'yyyy/MM/dd')}]]
						<span >：　[[${voteinfo.value}]]</span>
						<input type="hidden" name="eventId" th:each="eventid : ${eventListToId}" th:value="${eventid.eventId}">

						</div>
						<div th:each="eventid : ${eventListToId}" th:if="${eventid.decisionDay} eq null">
							<button type="submit" class="btn btn-success mb-5 mt-3 " onclick="newVote()">投票する <span class="glyphicon glyphicon-chevron-right"></span></button>
						</div>
						<div th:each="eventid : ${eventListToId}" th:if="${eventid.decisionDay} neq null">
							<button type="button" class="btn btn-success mb-5 mt-3 " onclick="newVote()" disabled="disabled">投票する <span class="glyphicon glyphicon-chevron-right" ></span></button>
						</div>
				</form>
			</td>


			<td id="rightframe">
				<h1 class="text-center mb-5 mt-5 title">コメント</h1>
				<div class="composition" >
					<form  action="/commentregist" method="post" th:object="${commentModel}">
					<textarea class="form-control input-sm " id="comment" rows="4px" name="participantComment" th:value="*{participantComment}"></textarea>
					<div th:if="${#fields.hasErrors('participantComment')}" th:errors="*{participantComment}" th:errorclass="err" ></div>
					<input type="hidden" name="eventId" th:each="eventid : ${eventListToId}" th:value="${eventid.eventId}">
					<button type="submit" class="btn btn-success mb-5 mt-3" >コメントする <span class="glyphicon glyphicon-chevron-right"></span></button>

					</form >
					<div th:each="commentlist : ${commentList}">
						<p>[[${commentlist.empName}]]さん　：　<span>[[${commentlist.participantComment}]]</span></p>
					</div>
				</div>
			</td>
		</tr>
	</table>

</main>
</body>



	<footer class="text-center text-muted py-4">
		<hr>
		hoppy2
	</footer>




		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

	</html>