<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.ixui.scheduleadjustment.mapper.CategoryMapper">
  <select id="selectCategoryList" resultType="hashMap">
    select  *
    	from category_master
    	<!-- where event_id = #{parameter.event_id} -->
    	order by category_master.category_id
  </select>
</mapper>