<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vote.info.mapper">
  <select id="selectVoteInfo" resultType="map">
    select  candidate_day,emp_name
    	from vote_info
    		inner join employee_master
    			on vote_info.vote_emp_num = employee_master.emp.num
    	where event_id = #{parameter.event_id}
    	order by  candidate_day;
  </select>

  <insert id="insertVoteInfo" parameterType="Comment" useGeneratedKeys="true" keyProperty="comment_id">
    insert
    into vote_info(event_id,candidate_day,vote_emp_num)
    values(#{event_id},#{candidate_day},#{vote_emp_num})
  </insert>
</mapper>