<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.ixui.scheduleadjustment.mapper.VoteInfoMapper">
	<insert id="voteDay" parameterType="java.util.List">
		insert
		into
			vote_info(event_id,candidate_day,vote_emp_num)
		values
		<foreach collection="list" item="element" separator="," >
			(#{element.eventId},#{element.candidateDay},#{element.voteEmpNum})
		</foreach>
	</insert>

	<delete id="voteDelete">
		delete
		from
			vote_info
		where
			vote_info.event_id = #{eventId}
		and
			vote_info.vote_emp_num = #{empNum}
	</delete>
	
	<select id="getParticipant" resultType="VoteInfo">
			select
				vote_info.vote_emp_num
			from
				vote_info
			where
				vote_info.event_id = #{eventId}
	</select>


</mapper>